.friendListItem {
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.friendListItem_avatar {
    width: 55px;
    margin-top: 5px;
    margin-bottom: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.friendListItem_name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
}

.offline {
    text-align: center;
    color: rgb(233, 10, 10);
    margin-top: 1px;
   margin-bottom: 8px;
}

.online {
    text-align: center;
    color: rgb(14, 130, 21);
    margin-bottom: 8px;
    margin-top: 1px;
}